@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400');
@import url('https://fonts.googleapis.com/css?family=Roboto:100');

	/* ---------------------
		STYLE PAR DEFAUT
    ------------------------ */
    
    body {
        background: black;
    }

    /* ---------------------
		NAV BAR APPLE
    ------------------------ */

    .navbar-apple {
        background-color: #1E1E1E;
        margin-bottom: 0;
    }

    .navbar-apple ul {
        text-align: center;
    }
    .navbar-apple ul li {
        margin-right: 15px;
    }
    .navbar-apple ul li a {
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 400;
    }

    a.navbar-brand {
        color: white !important;
    }

    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }

    /* ---------------------
		SECTION MOBILE
    ------------------------ */
    
    #mobile {
        background-color: #141414;
    }

    #mobile ul {
        margin: 0;
        text-align: center;
        padding: 10px 0;
    }
    #mobile ul li {}
    #mobile ul li img {}

    /* ---------------------
		SECTION PROJECTEUR
    ------------------------ */

    #projecteur {
        text-align: center;
        padding-top: 20px;
    }
    #projecteur img {
        max-width: 100%;
        margin: 20px 0 0 0;
    }
    #projecteur h2 {
		font-family: 'Roboto Condensed', sans-serif;
        font-weight: 400;
        font-size: 50px;
        color: #FFF;
    }
    #projecteur h3 {        
		font-family: 'Roboto', sans-serif;
        font-weight: 100;
        font-size: 60px;
        color: #FFF;
        margin-top: 0;
    }
    #projecteur p {
        color: #CCC;
    }

    /* ---------------------
		SECTION iPhone7
    ------------------------ */

    #iPhone7 {
        background-image: linear-gradient(#FFF 0%, #EEE 100%);
        padding: 40px 0 0 0;
        text-align: center;
    }

    #iPhone7 article h3 {
		font-family: 'Roboto', sans-serif;
		font-weight: 100;
        font-size: 36px;
        color: #303235;
        margin: 40px 0;
    }
    #iPhone7 article p {
        margin: 40px 0;
    }

    /* ---------------------
		SECTION CONTACT
    ------------------------ */

    #contact {
        padding: 100px 0;
    }

    #contact h3 {
        font-size: 40px;
        color: #FFF;
        text-align: center;
        margin-bottom: 10px;
    }

    /* ---------------------
		PIED DE PAGE
    ------------------------ */

    footer {
        background-color: #1E1E1E;
        padding: 10px 0;
    }

    footer p {
        margin: 0;
        text-align: center;
        color: #FFF;
        font-size:12px;
    }

    /* ---------------------
		MEDIA QUERIES
    ------------------------ */

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
        
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        #mobile ul li {
            width: calc(100% / 4);
        }
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
        #iPhone7 img {
            margin: 0 auto;
        }
        #iPhone7 {
            padding: 40px 0;
        }
        #mobile ul li {
            width: calc(100% / 3);
        }
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        #mobile ul li {
            width: calc(100% / 2);
        }
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }