body {
    background: url(../img/fond.jpg) no-repeat;
    background-size: cover;
}

main {
    /* -- Ma page fera 1300px de large -- */
    max-width: 1300px;
    width: 100%;
    /* -- Sa hauteur s'adaptera en fonction du contenu -- */
    height: auto;
    /* -- Elle sera centrée au milieu de la page -- */
    margin: 0 auto;
}

.mt-40 {
    margin-top:40px;
}

main > p {
    font-family: Arial;
    color:  #ffffff;
    font-size: 13px;
    text-align: center;
}

main > p span {
    text-decoration: underline;
}

/* -----------------------------
            HEADER
------------------------------ */

    header {
    /* -- Dimensions et Posionnement -- */
       width: 100%;
    height: 50px;
    float: left;
    position: relative; 
    z-index: 1;

    /* -- Décoration -- */
    background: -webkit-linear-gradient(-90deg, #ffffff 0%, #dddddd 100%);
    background: -moz-linear-gradient(-90deg, #ffffff 0%, #dddddd 100%);
    background: -o-linear-gradient(-90deg, #ffffff 0%, #dddddd 100%);
    background: -ms-linear-gradient(-90deg, #ffffff 0%, #dddddd 100%);
    background: linear-gradient(180deg, #ffffff 0%, #dddddd 100%);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
}

/* -----------------------------
           TRADUCTION
------------------------------ */

header > div {
    width: 25%;
    height: 19px;
    margin: 15px 0 0 30px;
    float: left;
}

header > div > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: black;
    text-transform: uppercase;
    float: left;
    margin: 4px 5px 0 0;
}

/* -- Drapeau FR -- */
header > div > a:nth-child(2) {
    display: block;
    width: 28px;
    height: 19px;
    float: left;
    text-indent: -9000px;
    background: url(../img/drapeaux.png) no-repeat;
    background-position: -71px 4px;
    transition: 0.1s ease-in-out;
}

header > div > a:nth-child(2):hover,
header > div > a:last-child:hover {
    background-position-y: 0px;
}

/* -- Drapeau EN -- */
header > div > a:last-child {
    display: block;
    width: 28px;
    height: 19px;
    float: left;
    text-indent: -9000px;
    background: url(../img/drapeaux.png) no-repeat;
    background-position: -107px 4px;
    margin-left: 5px;
    transition: 0.1s ease-in-out;
}

/* -----------------------------
           NAVIGATION
------------------------------ */

header > nav {
    width: auto;
    height: auto;
    float: right;
    margin-right: 175px;
}

header > nav ul {
    margin: 0;
    padding: 0;
}

header > nav ul li {
    display: inline-block;
    margin: 0 10px;
}

header > nav ul li a {
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    color:  #202020;
    font-size: 16px;
    line-height: 48px;
}

header > nav ul li a:hover {
    text-decoration: underline;
}

header > nav ul li.current a {
    color:  #3060a7;
    text-decoration: underline;
}

header > nav li:nth-child(3) a {
    color: #FE3224;
}

/* -----------------------------
           PROJECTEUR
------------------------------ */

.projecteur {
    width: 100%;
    height: 650px;
    float: left;
    overflow: hidden;
    position: relative;
}

.projecteur nav {
    /*-- Dimension et Positionnement -- */
    width: 340px;
    height: auto;
    position: absolute;
    left: 175px;
    top:0px;
    /* -- Décoration -- */
    background: -webkit-linear-gradient(-90deg, #ffffff 0%, #bbbbbb 100%);
    background: -moz-linear-gradient(-90deg, #ffffff 0%, #bbbbbb 100%);
    background: -o-linear-gradient(-90deg, #ffffff 0%, #bbbbbb 100%);
    background: -ms-linear-gradient(-90deg, #ffffff 0%, #bbbbbb 100%);
    background: linear-gradient(180deg, #ffffff 0%, #bbbbbb 100%);
    border-left:5px solid #c43e3e;
    text-align: center;
}

.projecteur nav a img {
    margin: 20px 0;
}

.projecteur nav ul {
    margin: 0;
    padding: 0;
}

.projecteur nav ul li {
    list-style:none;
    width: 100%;
    height: 57px;
    padding-top:15px;
    background: -webkit-linear-gradient(-90deg, #fbfbfb 0%, #bbbbbb 100%);
    background: -moz-linear-gradient(-90deg, #fbfbfb 0%, #bbbbbb 100%);
    background: -o-linear-gradient(-90deg, #fbfbfb 0%, #bbbbbb 100%);
    background: -ms-linear-gradient(-90deg, #fbfbfb 0%, #bbbbbb 100%);
    background: linear-gradient(180deg, #fbfbfb 0%, #bbbbbb 100%);    
}

.projecteur nav ul li a {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #000;
    text-decoration: none;
}
.projecteur nav ul li a:hover {
    text-decoration: underline;
}
.projecteur nav ul li span {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    color: #000;
    font-style: italic;
    font-weight: 300;
}

/* -- Décoration des liens -- */

.projecteur nav ul li:first-child a {
    color: #fe3626;
}

.projecteur nav ul li:nth-child(2) a {
    color: #bc8242;
}

.projecteur nav ul li:nth-child(3) a {
    color: #3860a7;
}

.projecteur nav ul li:last-child a {
    color: #fe3626;
}

/* -----------------------------
        COMPOSER SEJOUR
------------------------------ */

.bandeaurouge {
    width: 100%;
    height: 50px;
    float: left;
    text-align: center;
    position: relative;
    background-color:  #fe3224;
}

.bandeaurouge img {
    position: absolute;
    left: 50%;
    top:-15px;
    transform: translateX(-50%);
}

.composersejour {
    width: 100%;
    height: 120px;
    float: left;

    border-bottom-right-radius: 10px;
    background: -webkit-radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
    background: -moz-radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
    background: -o-radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
    background: -ms-radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
    background: radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
}

.composersejour p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    text-align: center;
}

.composersejour p span {
    text-decoration: underline;
}

.composersejour p span.red {
    color: #fe3224;
    text-decoration: inherit;
}

/* -- Bouton BTN SEJOUR -- */

.btn-sejour {
    width: 346px;
    height: 37px;
    margin: 0 auto;
    position: relative;
}

.btn-sejour a {
    width: 100%;
    height: 37px;
    display: block;

    background: -webkit-linear-gradient(-90deg, #fe8e86 0%, #fe3224 100%);
    background: -moz-linear-gradient(-90deg, #fe8e86 0%, #fe3224 100%);
    background: -o-linear-gradient(-90deg, #fe8e86 0%, #fe3224 100%);
    background: -ms-linear-gradient(-90deg, #fe8e86 0%, #fe3224 100%);
    background: linear-gradient(180deg, #fe8e86 0%, #fe3224 100%);

    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #FFF;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 37px;

    position: relative;
}

.btn-sejour .cursor-main {
    position: absolute;
    bottom: -20px;
    right: 0px;

    visibility: hidden;
    opacity: 0;

    transition: 0.1s ease-in-out;
}

.btn-sejour:hover .cursor-main {
    visibility: visible;
    opacity: 1;
    bottom: -8px;
    transform: rotate(-15deg);
}

.btn-sejour a::before {
    width: 147px;
    height: 36px;
    background: url(../img/fleche.png);
    content: " ";
    position: absolute;
    top:0px;
    left:-170px;
}

.btn-sejour a::after {
    width: 147px;
    height: 36px;
    transform: rotate(180deg);
    background: url(../img/fleche.png);
    content: " ";
    position: absolute;
    top:0px;
    right:-170px;
}