/*------------------------------------------------------------------------
    Dans cette feuille de styles CSS, je vais pouvoir définir l'apparence
    que je veux donner aux différents éléments qui composent ma page !

    ### La Synthaxe ###
    element {
         propriete:valeur;
    }    

---------------------------------------------------------------------------*/
/*-- google font= bibliothèque de police-----*/

/*Ajout de Google Font */

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');



/*-- Je cible dans ma page HTML, tous les éléments A, tous les éléments H1 et tous les éléments H3 --*/

a, h1 , h3 {
    font-family: 'Roboto Slab', serif;
}

/*-----------------------------------------------------------------------
 Cibler via la "classe" de l'élément 
NB : Une même classe peut être présent plusieurs fois sur une même page.

.LaClasse {
    propriete:valeur;
}
-----------------------------------------------------------------------*/

/*
    Consigne :
         
        1- Tous les liens de la classe "header" en noir
        2- Non souligné
        3- Affiché en ligne via la propiété "display"

*/
 
/*---
Ici, je cible tous les liens présent dans la div class "header"
                                                          -*/

                                                          
.header a{
    /*--Plusieurs facons de définir une couleur--*/

    /*-- Mot clé de la couleur--*/
    color: black;

    /*-- Notation Hexadecimale--*/
    color: #000000;
    color: #000;

    /*-- Notation Décimale --*/
    color: rgb(000, 000, 000);

/*-- Gérer le soulignement de mon texte--*/
text-decoration: none;

/*-- Modifier la taille de la police--*/
font-size: 20px;

/*--Mes liens s'affiche en Majuscule--*/
text-transform: uppercase;

}

/*--
   Ici, je cible toutes les listes présentes dans la div class "header"
                                                                  --*/

.header ul {
    margin: 0;
    padding: 0;
}              

.header ul li {
    display: inline-block;
    /*-- WIDTH : me permet de définir la largeur de l'élément --*/
    width: 317px;
    /*- Aligner mon texte dans son élément -*/
    text-align: center;
}

/*-- Je souhaite que mes liens soient en rouge au passage de la souris --*/

a:hover {
    color:rgb(23, 181, 230);
}

/*--Je change la couleur de mon lien à l'interieur de la classe "current"--*/

.current a {
    color: black;
}

/*-----------------------------------------------------------------------
 Cibler via son "ID" de l'élément 
NB : Un ID peut être présent qu'une fois sur une même page.

#MonID {
    propriete:valeur;
}
-----------------------------------------------------------------------*/

#page {
    /* -- Je vais définir la largeur de ma page --*/
    width: 960px;
    /*--margin : <top/bottom> <left/right> --*/
    margin: 80px auto;
    /* -- Je rajoute à ma page un fond blanc -- */
    background: #FFF;
   
   /*--------
Consigne :
          1- A ma div#page, ajouter un marge top/bottom de 80px
          2- Ajouter avec la propriété border-radius un arrondi de 5px a div#page
          3 - Puis , grâce a box-shadow, ajouter une légère autour de div#page */
   



          /*-- border-radius permet de rajouter un arrondi à mon élément--*/
    border-radius: 5px;

    /*-- J'applique une ombre autour de ma #page --*/
    /*-- offset-x | offset-y | blur-radius | color --*/
    box-shadow:  10px 10px 10px rgb(175, 168, 168);

    /*-- J'applique une marge interne de 5px autour de #page --*/
    padding: 15px;

    /* -- Overflow avec la valeur hidden, va supprimer l'affichage de tout les éléments qui dépassent de la #divpage --*/
    overflow: hidden;
}

body {
    background-color: #e2e2e2;
}

       
.contenu h1 {
    /*-- Aligner mon titre au milieu --*/
    text-align: center;
    
    /*-- Titre en gras --*/
    font-weight: normal;

    /*--solid : Ligne par défaut, dotted : petit points, dashed : des traits d'union --*/
    border-bottom: 1px dashed #000;
}

.bandeauduhaut {
    width:100% ;
    height:130px ;
    background:url(../IMG/bandeaunuage.jpg) no-repeat;
    background-size:cover ;
    background-position-y: -91px;
    
    
}
    

/*-- CSS pour illustration et article --*/

.contenu {
    /*- Dimension & Positionnement--*/
    width: 100%;
    height: auto;
    float: left;
    padding-bottom: 10px
    /*-- Décoration--*/ 
}

.illustration {
    /*-- Dimension & positionnement--*/
    width: 470px;
    height: auto;
    float: left;
    margin-right: 10px;
   
    /*--Décoration--*/
}

.illustration img {
    /*-- Dimension & Positionnement--*/
   max-width: 100%;
   border-radius: 5px;
   box-shadow: 5px 5px 10px rgb(175, 168, 168);
     
}

.article {
    /*-- Dimension & Positionnement --*/
    width: 460px;
    height:auto;
    float: left;
    /*-- décoration--*/
    margin: 0 10px 0 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;

}
/*-- VIdé le cache du navigateur avec Ctrl+Maj+R --*/

.footer {
    width: 100%;
    height:195px;
    float: left;
    background-color: rgb(153, 157, 158);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}


/*--Google map--*/


.gmap {
    width: calc( (100% / 3) - 10px);
    float: left;
    margin-left: 10px;
    
}
.gmap iframe {
    border-radius: 5px;

}
    /*--newsletter*/

.newsletter {
    width: calc( (100% / 3) - 10px );
    float: left;
    margin-left: 10px; 
    
}

.newsletter fieldset {
    font-family: 'Roboto Slab', sans-serif;
    border-radius: 8px;
    border: 2px solid #ffffff;
    color: #FFF;
    height: 180px;
}



.newsletter input {
    width: 100%;
    height: 40px;
    margin-bottom: 5px;
    padding: 5px 10px;
}

.newsletter input[type=submit]{
    width: 100%;
    height: 30px;
    border: 0;
    background: rgb(138, 132, 132);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.contact fieldset{
    font-family: 'Roboto Slab', sans-serif;
    border: 2px solid #ffffff;
    color: #FFF;
    border-radius: 8px;
    height: 179px;
    margin-top: -18px;
}



.contact {
    width: calc( (100% / 3) - 10px);
    float: left;
    margin-left: 10px;
    text-decoration: none;
    
}

.footer a{
        text-decoration: none;
        color: black;


}

.span {
    color:rgb(23, 181, 230);
    
}
