


@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');



#page {
    width: 100%;
    max-width: 1000px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px rgb(175, 168, 168);
    font-family: 'Roboto Slab','serif';
}

.section {
    overflow:hidden
}

.aside {
    float:left
}

.footer {
    width: 100%;
    height: 195px;
    float: left;
    background-color: rgb(153, 157, 158);
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.gmap {
    width: calc( (100% / 3) - 10px);
    float: left;
    margin-left: 10px;
}

    .gmap iframe {
        border-radius: 5px;
    }
/*--newsletter*/

.newsletter {
    width: calc( (100% / 3) - 10px );
    float: left;
    margin-left: 10px;
}

    .newsletter fieldset {
        font-family: 'Roboto Slab', sans-serif;
        border-radius: 8px;
        border: 2px solid #ffffff;
        color: #FFF;
        height: 180px;
    }



    .newsletter input {
        width: 100%;
        height: 40px;
        margin-bottom: 5px;
        padding: 5px 10px;
    }

        .newsletter input[type=submit] {
            width: 100%;
            height: 30px;
            border: 0;
            background: rgb(138, 132, 132);
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
        }

.contact fieldset {
    font-family: 'Roboto Slab', sans-serif;
    border: 2px solid #ffffff;
    color: black;
    border-radius: 8px;
    height: 179px;
    margin-top: -18px;
}



.contact {
    width: calc( (100% / 3) - 10px);
    float: left;
    margin-left: 10px;
    text-decoration: none;
}

.aside a img {
    float:left;
}

#partenaire {
    float:left;
    max-width:100px
}
